<h2>商品一覧</h2>
<li>
  <%= link_to '+', "/admin/items/new" %>
</li>

<% @items.each do |item| %>
<div>
  <p>商品ID：<%= item.id %></p>
  <p>商品名：<%= item.name %></p>
  <p>税抜価格：<%= item.price %></p>
  <p>ジャンル名：<%= item.genre.name %></p>
  <p>
    <% if item.is_active == true %>
      ステータス: 販売中
    <% else %>
      ステータス: 販売停止中
    <% end %>
  </p>
</div>
<% end %>

<%= paginate @items %>

